.profile-image{
    display: inline-block;
    text-align: center;
}
.profile-image i{
	padding: .5em;
	background: #fff;
	vertical-align: bottom;
}
.profile-name{
    display: inline-block;
    color:grey;
    font-weight: bolder;
}
.profileItems-container{
	margin-top: 1em;
}
.profileItems-container .profile-item{
	color:#00BFA5;
	display: inline-block;
	width: 100%;
	padding: .2em .4em;
	transition: all .2s ease;
}
.profileItems-container .profile-item:hover{
	font-weight: bolder;
	text-decoration:none;
	background:white;
    color: grey;
}
.profileItems-container .profile-item.activeProfile-item{
	color:grey;
	font-weight: bolder;
	text-decoration:none;
}