.sign-in-ui{
    position: relative;
    float: right;
    padding: 1em;
    top: 25%;
    border: 1px solid white;
    border-radius: 3px;
}
.sign-in-ui .buttons{
    padding: .5em 0;
    font-size: .8em;
    font-weight: 100;
}
.sign-in-ui .links{
    padding: .5em 0;
    font-size: 1em;
    font-weight: 100;
}
.sign-in-ui .links span{
    cursor: pointer;
}
.sign-in-ui .links span:hover{
    text-decoration: underline;
}

