.sign-in-ui{
    position: relative;
    padding: 1em;
    border: 1px solid white;
    border-radius: 3px;
}
.sign-in-ui.defaultBackground{
    color: grey;
    background: ghostwhite;
    padding: 0 1em 1em 1em;
    border:none;
    border-radius: none;
}
.sign-in-ui .buttons{
    padding: .5em 0;
    font-size: .8em;
    font-weight: 100;
}
.sign-in-ui .links{
    padding: .5em 0;
    font-size: 1em;
    font-weight: 100;
}
.sign-in-ui .links span{
    cursor: pointer;
    color: white;
}
.sign-in-ui .links span:hover{
    text-decoration: underline;
}

