/* Base Application Styles */
body {
  color: #fff;
}
.flex{
      display: -webkit-flex; 
    -webkit-align-items: flex-start; 
    display: flex;
    align-items: flex-start;
}
.self-aligned{
   -webkit-align-self: center;
    align-self: center;
}
.margin-auto{
  margin:auto;
  float: none;
  clear: both;
}
.header-padding{
  padding-top: 4.8em;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
.pageLayout{
  min-height: 100vh;
  width: 100%;
  background: ghostwhite;
}
.icon{
    margin-right: 0.3em;
    vertical-align: text-top;
}
.component{
    background: white;
    box-shadow: 1px 1px 2px #cccccc;
    border-top: 1px solid rgba(204, 204, 204, 0.55);
    border-left: 1px solid rgba(204, 204, 204, 0.55);
    border-radius: 4px;
}

